// src/app/globals.scss
@use "../../public/styles/theme" as *;
@use "../../public/styles/ui-custom";
@use "../../public/styles/base";

// mode clair = thème "light" de _theme.scss
:root {
    --bg-color: #{$Background-light};
    --text-color: #{$Text-light};
    --accent: #{$Accent-light};
    --primary: #{$Primary-light};
    --secondary: #{$Secondary-light};
    --font-family: 'Inter', sans-serif;
}

// mode sombre = thème "default" de _theme.scss
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #{$Background};
    --text-color: #{$Text};
    --accent: #{$Accent};
    --primary: #{$Primary};
    --secondary: #{$Secondary};
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.2s ease, color 0.2s ease;
}