@use "public/styles/theme" as *;


.follow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    background-color: transparent;
    border: 1px solid;
    border-radius: 14px;
    
    @include themed() {
        color: t('text');
        border-color: t('border-color');
    }
}