@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin button-style {
  background-color: var(--accent);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: color-mix(in srgb, var(--accent) 85%, black);
  }
}